<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Structr Test Suite">
            <directory suffix="Test.php">./tests/Structr/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Structr/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage/" charset="UTF-8"
           yui="true" highlight="true"
           lowUpperBound="35" highLowerBound="70"/>
    </logging>

</phpunit>